<!--app/views/quizzes/show.html.erb-->
<%= render @quiz %>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'inline-block rounded border border-pink-400 px-2 py-2 text-xs font-medium text-pink-400 hover:bg-pink-400 hover:text-white focus:outline-none focus:ring active:bg-pink-400' %>

<div>
  <%= link_to "Edit this quiz", edit_quiz_path(@quiz) %> |
  <%= link_to "Back to quizzes", quizzes_path %>

  <%= button_to "Destroy this quiz", @quiz, method: :delete %>
</div>

