<!-- app/views/quizzes/start.html.erb -->
<%= form_with url: quiz_take_path(@quiz), method: :post, local: true do |form| %>
  <ul>
    <% @quiz.questions.each do |question| %>
      <li><%= question.question_text %></li>
      <% question.answers.each do |answer| %>
        <li>
          <%= radio_button_tag "answers[#{question.id}]", answer.id %>
          <%= label_tag "answers_#{answer.id}", answer.answer_text %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <div class="mt-4">
    <%= form.submit "Submit Answers", class: 'inline-block rounded border border-pink-500 px-3 py-3 text-sm font-medium text-pink-400 hover:bg-pink-400 hover:text-white focus:outline-none focus:ring active:bg-pink-400'%>
  </div>
<% end %>
